* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
  --ifm-home-color-text: #414360;
  --ifm-home-color-background: #f7f7ff;
  --ifm-home-color-background-secondary: #d5d6f5;
  --ifm-home-color-highlight: #8c90e0;
  --ifm-home-color-border: #414360;
  --ifm-home-color-black: #25292e;
  --ifm-home-color-white: #f7f7ff;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.header {
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 10px;
  position: fixed;
}

.header a {
  float: left;
  color: #1c1e21;
}

.header a:hover {
  color: #8c90e0;
}
a.split {
  float: right;
}

.logo {
  float: left;
}

#rn {
  padding: 33px 1px 0px 1px;
  font-size: 69px;
  color: #414360;
  text-align: center;
}

.container {
  background-image: linear-gradient(#f7f7ff, #d5d6f5);
  height: 800px;
  width: 100%;
  display: grid;
  padding: 125px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 391px;
  grid-auto-rows: 100px;
  align-items: start;
  grid-template-areas:
    "a b c"
    "d d d";
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}

.react_nav {
  border: solid 5px;
  height: 348px;
  width: 635px;
  text-align: center;
  padding: 20px 15px;
  margin: 36px 73px;
  border-radius: 10px;
  color: #414360;
}

.react_nav p {
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 31px;
}

.react_nav div {
  border: 5px solid #414360;
  height: 57px;
  width: 165px;
  margin: auto;
  margin-left: 16px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.read_doc {
  background-color: #f7f7ff;
}

.try_it {
  background-color: #414360;
  color: white;
}

.read_doc:hover {
  background-color: #8c90e0;
  color: white;
  border: #8c90e0;
}

.try_it:hover {
  background-color: #8c90e0;
  color: white;
  border: #8c90e0;
}
.bgimg {
  background-image: url("svg/spiro.svg");
  height: 348px;
  width: 635px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7f7ff;
}

.migration_guides {
  display: grid;
  height: 86px;
  width: 800px;
  font-size: 19px;
  text-align: center;
  align-content: center;
  background-color: white;
  align-items: center;
  margin: auto;
  color: #6b6d88;
}

.migration_guides a {
  color: #6b6d88;
}

.migration_guides a:hover {
  text-decoration: underline;
}
.container2 {
  background-color: #25292e;
  height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 73px 103px;
}
.lines {
  padding: 1px 34px;
}

.line1 {
  color: white;
  font-size: 42px;
  font-weight: bold;
  padding: 10px 0px;
}

.line2 {
  color: #c9cad1;
  font-size: 24px;
  padding: 14px 0px;
}
